:root {
  --hue-color: 102;
  --first-color-light:#fff;
  --second-color-ligth:#333;
  --second-color-dark:#0e926a ;
  --first-color-dark: hsl(var(--hue-color), 55%, 6%);
  --big-font-size: 2rem;
  --font-bold: 800;
  --mb-1: 1rem;
  --z-fixed: 1000;

}

@media screen and (min-width: 968px) {
:root {
  --big-font-size: 3rem;
}
}

.dark{
  background-color: var(--first-color);
  --first-color : var(--first-color-dark);
}

.light{
  background-color: #f7efef;

}


body.dark {
  --first-color: var(--first-color-dark);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
