.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.home {
  height: 100vh;
  background-image: url('/image.webp');
  background-size: cover;
  background-position: center;
  padding: 0 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.home h1 {
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
  color: #e0dfdb;
  font-weight: 900;
  font-size: clamp(25px, 5vw, 110px);
  margin-bottom: 20px;
}

.subtitle {
  font-size: clamp(20px, 4vw, 80px);
  color: #c0bbae;
  font-weight: 900;
  letter-spacing: -1px;
}

.weareSection {
  background-color: #f9f9f9;
  padding: 40px 20px;
}
